<a href="https://colab.research.google.com/github/gracemkay/THA4/blob/master/THA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We (Grace M. Kay and Sadikshya Nepal) tried to do most of our work in Python, but since we were unable to code the very end of it properly, we decided to continue the project on Stata. 

We have also uploaded the do file and Stata analysis log for the Stata of our project

**Research Question **

Our overall hypothesis is that Out Migration in the Chitwan Valley in Nepal will decrease the overall agricultural productivity/output in the region. 

In order to test that hypothesis, I am investigating my smaller research question. Does outmigration in Nepal affect the production and cultivation of wheat in the region. As wheat is one of the major crops produced in the country and the region. This research question will help see agricultural output in Chitwan Valley.

**Data Source **

The Data source for this project comes from the Chitwan Valley [Nepal] Family Study: Labor Outmigration, Agricultural Productivity and Food Security Household Agriculture and Migration Survey. 

You can access the data on the google drive [here](https://https://drive.google.com/drive/u/1/folders/14zC51PKe4KMkbua1cRBjRBtB0_ThbpEw)

I have saved a copy of the .dta file on my google drive for access. You will have to download the data as a .dta and upload to Python

In [0]:
import pandas as pd
df=pd.read_stata('36755-0001-CMS Data.dta')

**Printed dataframe with all the variables **

In [0]:
print(df)

        HHID  AGE1 GENDER1  AGE2 GENDER2  AGE3 GENDER3  INTNO  INTDATE  \
0     002002    34  Female   NaN     NaN   NaN     NaN     49   720425
1     002003    35  Female   NaN     NaN   NaN     NaN     48   720425
2     002004    60    Male   NaN     NaN   NaN     NaN     34   720425
3     002005    35    Male  35.0  Female   NaN     NaN     34   720421
4     002006    65    Male   NaN     NaN   NaN     NaN     22   720420
5     002009    60    Male   NaN     NaN   NaN     NaN     20   720420
6     002011    40  Female  45.0    Male   NaN     NaN     52   720426
7     002012    60    Male   NaN     NaN   NaN     NaN     21   720420
8     002013    40  Female   NaN     NaN   NaN     NaN     41   720425
9     002016    60    Male   NaN     NaN   NaN     NaN     40   720421
10    002017    40    Male   NaN     NaN   NaN     NaN     39   720421
11    002020    39  Female   NaN     NaN   NaN     NaN     32   720425
12    002026    52    Male   NaN     NaN   NaN     NaN     42   720425
13    002027    36    Male   NaN     NaN   NaN     NaN     25   720421
14    002033    40  Female   NaN     NaN   NaN     NaN     36   720420
15    002037    60  Female   NaN     NaN   NaN     NaN     38   720420
16    002041    30  Female   NaN     NaN   NaN     NaN     37   720420
17    002042    37  Female   NaN     NaN   NaN     NaN     31   720420
18    002048    26  Female  72.0    Male   NaN     NaN     36   720421
19    002050    30    Male   NaN     NaN   NaN     NaN     32   720420
20    002051    31  Female   NaN     NaN   NaN     NaN     35   720421
21    002052    55    Male   NaN     NaN   NaN     NaN     30   720420
22    002054    30  Female   NaN     NaN   NaN     NaN     33   720420
23    002055    52    Male   NaN     NaN   NaN     NaN     43   720425
24    002056    40  Female   NaN     NaN   NaN     NaN     54   720427
25    002057    35  Female   NaN     NaN   NaN     NaN     45   720426
26    002058    35  Female   NaN     NaN   NaN     NaN     50   720425
27    003002    32  Female   NaN     NaN   NaN     NaN     49   720605
28    003005    80    Male   NaN     NaN   NaN     NaN     93   720718
29    003006    35  Female   NaN     NaN   NaN     NaN     52   720605
...      ...   ...     ...   ...     ...   ...     ...    ...      ...
2225  169003    48    Male  47.0  Female   NaN     NaN     15   720521
2226  169007    50  Female   NaN     NaN   NaN     NaN     76   720508
2227  169008    30  Female   NaN     NaN   NaN     NaN     86   720509
2228  169009    63    Male   NaN     NaN   NaN     NaN     76   720508
2229  169010    50  Female   NaN     NaN   NaN     NaN     79   720509
2230  169012    41  Female  22.0  Female   NaN     NaN     18   720522
2231  169014    39  Female   NaN     NaN   NaN     NaN     86   720508
2232  169015    52    Male   NaN     NaN   NaN     NaN     88   720508
2233  169016    83    Male  56.0    Male   NaN     NaN     87   720508
2234  169017    50  Female   NaN     NaN   NaN     NaN     85   720509
2235  169020    36  Female   NaN     NaN   NaN     NaN     67   720515
2236  169021    49    Male   NaN     NaN   NaN     NaN     70   720508
2237  169039    25  Female   NaN     NaN   NaN     NaN     72   720508
2238  169048    34    Male   NaN     NaN   NaN     NaN     80   720509
2239  170001    62    Male   NaN     NaN   NaN     NaN     42   720422
2240  170002    46  Female   NaN     NaN   NaN     NaN     31   720524
2241  170003    30    Male  52.0    Male   NaN     NaN     43   720422
2242  170004    43    Male   NaN     NaN   NaN     NaN     31   720422
2243  170005    79  Female  87.0    Male   NaN     NaN      5   720422
2244  170006    61  Female  65.0    Male   NaN     NaN      6   720422
2245  170008    53  Female   NaN     NaN   NaN     NaN      7   720422
2246  170010    79    Male   NaN     NaN   NaN     NaN     71   720620
2247  170017    36  Female   NaN     NaN   NaN     NaN     75   720807
2248  170029    42    Male   NaN     NaN   NaN     NaN     68   720524
2249  170049    37  Female   NaN     NaN   NaN     NaN     32   720422
2250  170052    31  Female  45.0    Male   NaN     NaN     32   720524
2251  170061    55    Male  45.0  Female   NaN     NaN     31   720422
2252  171002    38  Female  50.0    Male   NaN     NaN     37   720420
2253  171003    24    Male  45.0  Female   NaN     NaN      1   720330
2254  171004    32    Male  63.0    Male   NaN     NaN      1   720330

      INTRVR  ...   REM64   REM65   REM66   REM67   REM68    REM69   REM70  \
0        187  ...       0       0       0       0  700000   700000  750000
1        187  ...       0  150000  200000       0       0        0       0
2        221  ...       0   60000   60000  170000   70000    50000   50000
3        165  ...       0       0  380000       0       0   300000  100000
4        116  ...       0       0       0       0       0        0  150000
5        116  ...       0       0       0       0       0        0       0
6        187  ...       0       0       0       0       0        0       0
7        116  ...       0       0       0       0       0        0       0
8        165  ...       0       0       0       0       0        0       0
9        187  ...       0       0  400000  400000  450000   450000  500000
10       187  ...       0       0       0       0       0        0       0
11       221  ...       0       0       0       0       0        0       0
12       165  ...       0       0       0       0       0        0       0
13       116  ...       0       0       0       0       0        0       0
14       187  ...       0       0       0       0       0        0       0
15       187  ...       0       0       0       0       0        0       0
16       187  ...       0       0       0       0       0        0       0
17       165  ...  100000       0  100000  110000       0        0       0
18       165  ...       0       0       0       0       0        0  130000
19       165  ...       0       0       0       0       0        0       0
20       165  ...       0       0       0       0       0        0       0
21       165  ...       0       0       0       0       0        0       0
22       165  ...       0       0       0       0       0        0       0
23       165  ...       0       0       0       0       0        0       0
24       187  ...       0       0       0       0       0        0  120000
25       165  ...       0       0       0       0       0        0       0
26       187  ...       0       0       0       0       0        0       0
27       242  ...       0       0   30000       0       0    70000       0
28       254  ...       0       0       0       0       0        0       0
29       257  ...       0       0  700000       0  150000   200000  150000
...      ...  ...     ...     ...     ...     ...     ...      ...     ...
2225     262  ...       0       0  200000  210000       0        0       0
2226     165  ...       0       0  200000  300000  400000   300000  500000
2227     180  ...       0       0  300000  300000       0        0       0
2228     160  ...       0       0       0       0       0        0       0
2229     160  ...       0       0  200000       0       0        0       0
2230     262  ...       0       0       0       0       0        0       0
2231     187  ...       0       0       0       0       0        0       0
2232     187  ...       0       0       0       0       0        0       0
2233     187  ...       0       0       0       0       0        0       0
2234     180  ...       0       0  500000  500000  500000   400000  600000
2235     181  ...       0       0  300000  300000  500000   600000  600000
2236     218  ...       0       0       0       0       0        0       0
2237     218  ...       0  100000  100000   60000  360000   360000  360000
2238     160  ...       0       0       0       0       0        0       0
2239     180  ...       0   10000  110000  110000  115000   110000  115000
2240     115  ...       0       0       0  150000  150000        0  250000
2241     180  ...       0       0  100000  100000       0        0       0
2242     131  ...       0  500000  500000  700000  700000   900000  900000
2243     118  ...       0       0   70000       0       0        0       0
2244     118  ...       0       0   20000   25000   35000  3000000   35000
2245     118  ...       0       0       0  200000  280000   300000  250000
2246     110  ...       0       0       0       0       0        0       0
2247     133  ...       0       0       0       0       0        0       0
2248     110  ...       0       0       0       0       0        0       0
2249     218  ...       0       0       0       0       0        0       0
2250     115  ...       0       0       0       0       0        0       0
2251     218  ...       0       0       0       0       0        0       0
2252     133  ...       0       0       0       0       0        0       0
2253     180  ...       0       0       0       0       0        0       0
2254     181  ...       0       0       0       0  200000   200000       0

        REM71     REM72 ENDTIME
0      800000  175000.0    1024
1           0  100000.0     927
2       25000       0.0     939
3      250000       0.0     939
4           0    8000.0    1140
5           0       0.0     955
6           0       0.0    1155
7           0       0.0    1044
8       20000       0.0    1301
9      500000  300000.0    1003
10          0       0.0     904
11          0       0.0    1210
12          0       0.0    1002
13          0       0.0    1000
14          0       0.0     907
15          0       0.0    1025
16          0       0.0    1000
17          0       0.0    1015
18          0   26000.0    1105
19          0       0.0     851
20          0       0.0    1012
21          0       0.0    1112
22          0       0.0     939
23          0       0.0     915
24     150000  110000.0     859
25          0       0.0    1217
26          0       0.0    1204
27          0       0.0    1100
28          0       0.0    1125
29          0  300000.0    1121
...       ...       ...     ...
2225        0       0.0     737
2226   400000       0.0    1102
2227        0       0.0     930
2228        0       0.0     803
2229        0       0.0     830
2230        0       0.0     713
2231        0       0.0     828
2232   150000       0.0    1026
2233        0       0.0     920
2234   600000  200000.0     845
2235   500000  100000.0     910
2236        0       0.0     834
2237   360000  105000.0    1059
2238        0       0.0     910
2239   100000  100000.0    1030
2240        0       0.0    1803
2241        0       0.0    1135
2242  1000000  300000.0     952
2243        0   50000.0    1028
2244    40000   12000.0    1132
2245   200000  120000.0     908
2246        0       0.0     928
2247        0       0.0    1035
2248        0       0.0    1757
2249        0       0.0    1001
2250        0       0.0    1845
2251        0       0.0     829
2252        0       0.0    1538
2253        0       0.0    1125
2254        0       0.0    1024

[2255 rows x 788 columns]

**Printed all the Labels to see the variable names.**

In [0]:
print(list(df))

['HHID', 'AGE1', 'GENDER1', 'AGE2', 'GENDER2', 'AGE3', 'GENDER3', 'INTNO', 'INTDATE', 'INTRVR', 'INTRW_TYPE', 'CALL', 'PRETOT', 'IWTOT', 'POSTTOT', 'ETHNICITY', 'A_0', 'A1_63', 'A1_64', 'A1_65', 'A1_66', 'A1_67', 'A1_68', 'A1_69', 'A1_70', 'A1_71', 'A1_72', 'A2_63', 'A2_64', 'A2_65', 'A2_66', 'A2_67', 'A2_68', 'A2_69', 'A2_70', 'A2_71', 'A2_72', 'A2A1_63', 'A2A1_64', 'A2A1_65', 'A2A1_66', 'A2A1_67', 'A2A1_68', 'A2A1_69', 'A2A1_70', 'A2A1_71', 'A2A1_72', 'A3_63', 'A3_64', 'A3_65', 'A3_66', 'A3_67', 'A3_68', 'A3_69', 'A3_70', 'A3_71', 'A3_72', 'A4_63', 'A4_64', 'A4_65', 'A4_66', 'A4_67', 'A4_68', 'A4_69', 'A4_70', 'A4_71', 'A4_72', 'A5_63', 'A5_64', 'A5_65', 'A5_66', 'A5_67', 'A5_68', 'A5_69', 'A5_70', 'A5_71', 'A5_72', 'A6_63', 'A6_64', 'A6_65', 'A6_66', 'A6_67', 'A6_68', 'A6_69', 'A6_70', 'A6_71', 'A6_72', 'A7_63', 'A7_64', 'A7_65', 'A7_66', 'A7_67', 'A7_68', 'A7_69', 'A7_70', 'A7_71', 'A7_72', 'A8_63', 'A8_64', 'A8_65', 'A8_66', 'A8_67', 'A8_68', 'A8_69', 'A8_70', 'A8_71', 'A8_72', 'A9_63', 'A9_64', 'A9_65', 'A9_66', 'A9_67', 'A9_68', 'A9_69', 'A9_70', 'A9_71', 'A9_72', 'A10_63', 'A10_64', 'A10_65', 'A10_66', 'A10_67', 'A10_68', 'A10_69', 'A10_70', 'A10_71', 'A10_72', 'B11_63', 'B11_64', 'B11_65', 'B11_66', 'B11_67', 'B11_68', 'B11_69', 'B11_70', 'B11_71', 'B11_72', 'B11A_63', 'B11A_64', 'B11A_65', 'B11A_66', 'B11A_67', 'B11A_68', 'B11A_69', 'B11A_70', 'B11A_71', 'B11A_72', 'B11B_63', 'B11B_64', 'B11B_65', 'B11B_66', 'B11B_67', 'B11B_68', 'B11B_69', 'B11B_70', 'B11B_71', 'B11B_72', 'B11C_63', 'B11C_64', 'B11C_65', 'B11C_66', 'B11C_67', 'B11C_68', 'B11C_69', 'B11C_70', 'B11C_71', 'B11C_72', 'B12_63', 'B12_64', 'B12_65', 'B12_66', 'B12_67', 'B12_68', 'B12_69', 'B12_70', 'B12_71', 'B12_72', 'B12A_63', 'B12A_64', 'B12A_65', 'B12A_66', 'B12A_67', 'B12A_68', 'B12A_69', 'B12A_70', 'B12A_71', 'B12A_72', 'B12B_63', 'B12B_64', 'B12B_65', 'B12B_66', 'B12B_67', 'B12B_68', 'B12B_69', 'B12B_70', 'B12B_71', 'B12B_72', 'B12C_63', 'B12C_64', 'B12C_65', 'B12C_66', 'B12C_67', 'B12C_68', 'B12C_69', 'B12C_70', 'B12C_71', 'B12C_72', 'B13_63', 'B13_64', 'B13_65', 'B13_66', 'B13_67', 'B13_68', 'B13_69', 'B13_70', 'B13_71', 'B13_72', 'B13A_63', 'B13A_64', 'B13A_65', 'B13A_66', 'B13A_67', 'B13A_68', 'B13A_69', 'B13A_70', 'B13A_71', 'B13A_72', 'B13B_63', 'B13B_64', 'B13B_65', 'B13B_66', 'B13B_67', 'B13B_68', 'B13B_69', 'B13B_70', 'B13B_71', 'B13B_72', 'B13C_63', 'B13C_64', 'B13C_65', 'B13C_66', 'B13C_67', 'B13C_68', 'B13C_69', 'B13C_70', 'B13C_71', 'B13C_72', 'B14_63', 'B14_64', 'B14_65', 'B14_66', 'B14_67', 'B14_68', 'B14_69', 'B14_70', 'B14_71', 'B14_72', 'B14A_63', 'B14A_64', 'B14A_65', 'B14A_66', 'B14A_67', 'B14A_68', 'B14A_69', 'B14A_70', 'B14A_71', 'B14A_72', 'B14B_63', 'B14B_64', 'B14B_65', 'B14B_66', 'B14B_67', 'B14B_68', 'B14B_69', 'B14B_70', 'B14B_71', 'B14B_72', 'B14C_63', 'B14C_64', 'B14C_65', 'B14C_66', 'B14C_67', 'B14C_68', 'B14C_69', 'B14C_70', 'B14C_71', 'B14C_72', 'B15_63', 'B15_64', 'B15_65', 'B15_66', 'B15_67', 'B15_68', 'B15_69', 'B15_70', 'B15_71', 'B15_72', 'B15A_63', 'B15A_64', 'B15A_65', 'B15A_66', 'B15A_67', 'B15A_68', 'B15A_69', 'B15A_70', 'B15A_71', 'B15A_72', 'B15B_63', 'B15B_64', 'B15B_65', 'B15B_66', 'B15B_67', 'B15B_68', 'B15B_69', 'B15B_70', 'B15B_71', 'B15B_72', 'B15C_63', 'B15C_64', 'B15C_65', 'B15C_66', 'B15C_67', 'B15C_68', 'B15C_69', 'B15C_70', 'B15C_71', 'B15C_72', 'B16_63', 'B16_64', 'B16_65', 'B16_66', 'B16_67', 'B16_68', 'B16_69', 'B16_70', 'B16_71', 'B16_72', 'B16A_63', 'B16A_64', 'B16A_65', 'B16A_66', 'B16A_67', 'B16A_68', 'B16A_69', 'B16A_70', 'B16A_71', 'B16A_72', 'B16B_63', 'B16B_64', 'B16B_65', 'B16B_66', 'B16B_67', 'B16B_68', 'B16B_69', 'B16B_70', 'B16B_71', 'B16B_72', 'B17_1_63', 'B17_1_64', 'B17_1_65', 'B17_1_66', 'B17_1_67', 'B17_1_68', 'B17_1_69', 'B17_1_70', 'B17_1_71', 'B17_1_72', 'B17_1A_63', 'B17_1A_64', 'B17_1A_65', 'B17_1A_66', 'B17_1A_67', 'B17_1A_68', 'B17_1A_69', 'B17_1A_70', 'B17_1A_71', 'B17_1A_72', 'B17_1B_63', 'B17_1B_64', 'B17_1B_65', 'B17_1B_66', 'B17_1B_67', 'B17_1B_68', 'B17_1B_69', 'B17_1B_70', 'B17_1B_71', 'B17_1B_72', 'B17_2_63', 'B17_2_64', 'B17_2_65', 'B17_2_66', 'B17_2_67', 'B17_2_68', 'B17_2_69', 'B17_2_70', 'B17_2_71', 'B17_2_72', 'B17_2A_63', 'B17_2A_64', 'B17_2A_65', 'B17_2A_66', 'B17_2A_67', 'B17_2A_68', 'B17_2A_69', 'B17_2A_70', 'B17_2A_71', 'B17_2A_72', 'B17_2B_63', 'B17_2B_64', 'B17_2B_65', 'B17_2B_66', 'B17_2B_67', 'B17_2B_68', 'B17_2B_69', 'B17_2B_70', 'B17_2B_71', 'B17_2B_72', 'B17_3_63', 'B17_3_64', 'B17_3_65', 'B17_3_66', 'B17_3_67', 'B17_3_68', 'B17_3_69', 'B17_3_70', 'B17_3_71', 'B17_3_72', 'B17_3A_63', 'B17_3A_64', 'B17_3A_65', 'B17_3A_66', 'B17_3A_67', 'B17_3A_68', 'B17_3A_69', 'B17_3A_70', 'B17_3A_71', 'B17_3A_72', 'B17_3B_63', 'B17_3B_64', 'B17_3B_65', 'B17_3B_66', 'B17_3B_67', 'B17_3B_68', 'B17_3B_69', 'B17_3B_70', 'B17_3B_71', 'B17_3B_72', 'B17_4_63', 'B17_4_64', 'B17_4_65', 'B17_4_66', 'B17_4_67', 'B17_4_68', 'B17_4_69', 'B17_4_70', 'B17_4_71', 'B17_4_72', 'B17_4A_63', 'B17_4A_64', 'B17_4A_65', 'B17_4A_66', 'B17_4A_67', 'B17_4A_68', 'B17_4A_69', 'B17_4A_70', 'B17_4A_71', 'B17_4A_72', 'B17_4B_63', 'B17_4B_64', 'B17_4B_65', 'B17_4B_66', 'B17_4B_67', 'B17_4B_68', 'B17_4B_69', 'B17_4B_70', 'B17_4B_71', 'B17_4B_72', 'B17_5_63', 'B17_5_64', 'B17_5_65', 'B17_5_66', 'B17_5_67', 'B17_5_68', 'B17_5_69', 'B17_5_70', 'B17_5_71', 'B17_5_72', 'B17_5A_63', 'B17_5A_64', 'B17_5A_65', 'B17_5A_66', 'B17_5A_67', 'B17_5A_68', 'B17_5A_69', 'B17_5A_70', 'B17_5A_71', 'B17_5A_72', 'B17_5B_63', 'B17_5B_64', 'B17_5B_65', 'B17_5B_66', 'B17_5B_67', 'B17_5B_68', 'B17_5B_69', 'B17_5B_70', 'B17_5B_71', 'B17_5B_72', 'B17_6_63', 'B17_6_64', 'B17_6_65', 'B17_6_66', 'B17_6_67', 'B17_6_68', 'B17_6_69', 'B17_6_70', 'B17_6_71', 'B17_6_72', 'B17_6A_63', 'B17_6A_64', 'B17_6A_65', 'B17_6A_66', 'B17_6A_67', 'B17_6A_68', 'B17_6A_69', 'B17_6A_70', 'B17_6A_71', 'B17_6A_72', 'B17_6B_63', 'B17_6B_64', 'B17_6B_65', 'B17_6B_66', 'B17_6B_67', 'B17_6B_68', 'B17_6B_69', 'B17_6B_70', 'B17_6B_71', 'B17_6B_72', 'B17_7_63', 'B17_7_64', 'B17_7_65', 'B17_7_66', 'B17_7_67', 'B17_7_68', 'B17_7_69', 'B17_7_70', 'B17_7_71', 'B17_7_72', 'B17_7A_63', 'B17_7A_64', 'B17_7A_65', 'B17_7A_66', 'B17_7A_67', 'B17_7A_68', 'B17_7A_69', 'B17_7A_70', 'B17_7A_71', 'B17_7A_72', 'B17_7B_63', 'B17_7B_64', 'B17_7B_65', 'B17_7B_66', 'B17_7B_67', 'B17_7B_68', 'B17_7B_69', 'B17_7B_70', 'B17_7B_71', 'B17_7B_72', 'B17_8_63', 'B17_8_64', 'B17_8_65', 'B17_8_66', 'B17_8_67', 'B17_8_68', 'B17_8_69', 'B17_8_70', 'B17_8_71', 'B17_8_72', 'C18_63', 'C18_64', 'C18_65', 'C18_66', 'C18_67', 'C18_68', 'C18_69', 'C18_70', 'C18_71', 'C18_72', 'C19_63', 'C19_64', 'C19_65', 'C19_66', 'C19_67', 'C19_68', 'C19_69', 'C19_70', 'C19_71', 'C19_72', 'C20_63', 'C20_64', 'C20_65', 'C20_66', 'C20_67', 'C20_68', 'C20_69', 'C20_70', 'C20_71', 'C20_72', 'C21_63', 'C21_64', 'C21_65', 'C21_66', 'C21_67', 'C21_68', 'C21_69', 'C21_70', 'C21_71', 'C21_72', 'C22_63', 'C22_64', 'C22_65', 'C22_66', 'C22_67', 'C22_68', 'C22_69', 'C22_70', 'C22_71', 'C22_72', 'C23_63', 'C23_64', 'C23_65', 'C23_66', 'C23_67', 'C23_68', 'C23_69', 'C23_70', 'C23_71', 'C23_72', 'C24_63', 'C24_64', 'C24_65', 'C24_66', 'C24_67', 'C24_68', 'C24_69', 'C24_70', 'C24_71', 'C24_72', 'C25_63', 'C25_64', 'C25_65', 'C25_66', 'C25_67', 'C25_68', 'C25_69', 'C25_70', 'C25_71', 'C25_72', 'C25_1_63', 'C25_1_64', 'C25_1_65', 'C25_1_66', 'C25_1_67', 'C25_1_68', 'C25_1_69', 'C25_1_70', 'C25_1_71', 'C25_1_72', 'D26_63', 'D26_64', 'D26_65', 'D26_66', 'D26_67', 'D26_68', 'D26_69', 'D26_70', 'D26_71', 'D26_72', 'D27_63', 'D27_64', 'D27_65', 'D27_66', 'D27_67', 'D27_68', 'D27_69', 'D27_70', 'D27_71', 'D27_72', 'D28_63', 'D28_64', 'D28_65', 'D28_66', 'D28_67', 'D28_68', 'D28_69', 'D28_70', 'D28_71', 'D28_72', 'D29_63', 'D29_64', 'D29_65', 'D29_66', 'D29_67', 'D29_68', 'D29_69', 'D29_70', 'D29_71', 'D29_72', 'D30_63', 'D30_64', 'D30_65', 'D30_66', 'D30_67', 'D30_68', 'D30_69', 'D30_70', 'D30_71', 'D30_72', 'D30A_63', 'D30A_64', 'D30A_65', 'D30A_66', 'D30A_67', 'D30A_68', 'D30A_69', 'D30A_70', 'D30A_71', 'D30A_72', 'D30B_63', 'D30B_64', 'D30B_65', 'D30B_66', 'D30B_67', 'D30B_68', 'D30B_69', 'D30B_70', 'D30B_71', 'D30B_72', 'D31_63', 'D31_64', 'D31_65', 'D31_66', 'D31_67', 'D31_68', 'D31_69', 'D31_70', 'D31_71', 'D31_72', 'D31A_63', 'D31A_64', 'D31A_65', 'D31A_66', 'D31A_67', 'D31A_68', 'D31A_69', 'D31A_70', 'D31A_71', 'D31A_72', 'D31B_63', 'D31B_64', 'D31B_65', 'D31B_66', 'D31B_67', 'D31B_68', 'D31B_69', 'D31B_70', 'D31B_71', 'D31B_72', 'MIG63', 'MIG64', 'MIG65', 'MIG66', 'MIG67', 'MIG68', 'MIG69', 'MIG70', 'MIG71', 'MIG72', 'REM63', 'REM64', 'REM65', 'REM66', 'REM67', 'REM68', 'REM69', 'REM70', 'REM71', 'REM72', 'ENDTIME']

**For All Variable that starts with MIG we coded so that the year will change from 63 -> 07, 64-> 08...until 72-16**

In [0]:
for col in [s for s in df.columns if s.startswith('MIG')]:
    print(col)
    new_col='MIG'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

MIG63
MIG7
MIG64
MIG8
MIG65
MIG9
MIG66
MIG10
MIG67
MIG11
MIG68
MIG12
MIG69
MIG13
MIG70
MIG14
MIG71
MIG15
MIG72
MIG16

**Changed dates for the variables in Remmittance REM **

In [0]:
for col in [s for s in df.columns if s.startswith('REM')]:
    print(col)
    new_col='REM'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

REM63
REM7
REM64
REM8
REM65
REM9
REM66
REM10
REM67
REM11
REM68
REM12
REM69
REM13
REM70
REM14
REM71
REM15
REM72
REM16

**Changed Dates for Total Land Owned A2_**

In [0]:
for col in [s for s in df.columns if s.startswith('A2_')]:
    print(col)
    new_col='A2_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

A2_63
A2_7
A2_64
A2_8
A2_65
A2_9
A2_66
A2_10
A2_67
A2_11
A2_68
A2_12
A2_69
A2_13
A2_70
A2_14
A2_71
A2_15
A2_72
A2_16

**Changed Dates for Others Land Used for Cultivation from 63-07 and so on.**

In [0]:
for col in [s for s in df.columns if s.startswith('A2A1_')]:
    print(col)
    new_col='A2A1_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

A2A1_63
A2A1_7
A2A1_64
A2A1_8
A2A1_65
A2A1_9
A2A1_66
A2A1_10
A2A1_67
A2A1_11
A2A1_68
A2A1_12
A2A1_69
A2A1_13
A2A1_70
A2A1_14
A2A1_71
A2A1_15
A2A1_72
A2A1_16

**Rice Planting **

In [0]:
for col in [s for s in df.columns if s.startswith('B11_')]:
    print(col)
    new_col='B11_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B11_63
B11_7
B11_64
B11_8
B11_65
B11_9
B11_66
B11_10
B11_67
B11_11
B11_68
B11_12
B11_69
B11_13
B11_70
B11_14
B11_71
B11_15
B11_72
B11_16

**Rice Planting Land Area Year Change 63- 72**

In [0]:
for col in [s for s in df.columns if s.startswith('B11A_')]:
    print(col)
    new_col='B11A_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B11A_63
B11A_7
B11A_64
B11A_8
B11A_65
B11A_9
B11A_66
B11A_10
B11A_67
B11A_11
B11A_68
B11A_12
B11A_69
B11A_13
B11A_70
B11A_14
B11A_71
B11A_15
B11A_72
B11A_16

**Production of Rice Kgs for each year changed from 63- 72 **

In [0]:
for col in [s for s in df.columns if s.startswith('B11B_')]:
    print(col)
    new_col='B11B_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B11B_63
B11B_7
B11B_64
B11B_8
B11B_65
B11B_9
B11B_66
B11B_10
B11B_67
B11B_11
B11B_68
B11B_12
B11B_69
B11B_13
B11B_70
B11B_14
B11B_71
B11B_15
B11B_72
B11B_16

**Year changed for Sold Rice in Kgs**

In [0]:
for col in [s for s in df.columns if s.startswith('B11C_')]:
    print(col)
    new_col='B11C_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B11C_63
B11C_7
B11C_64
B11C_8
B11C_65
B11C_9
B11C_66
B11C_10
B11C_67
B11C_11
B11C_68
B11C_12
B11C_69
B11C_13
B11C_70
B11C_14
B11C_71
B11C_15
B11C_72
B11C_16

**Year changed for Wheat Planting **

In [0]:
for col in [s for s in df.columns if s.startswith('B13_')]:
    print(col)
    new_col='B13_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B13_63
B13_7
B13_64
B13_8
B13_65
B13_9
B13_66
B13_10
B13_67
B13_11
B13_68
B13_12
B13_69
B13_13
B13_70
B13_14
B13_71
B13_15
B13_72
B13_16

**Year changed for Wheat Planting Area **

In [0]:
for col in [s for s in df.columns if s.startswith('B13A_')]:
    print(col)
    new_col='B13A_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B13A_63
B13A_7
B13A_64
B13A_8
B13A_65
B13A_9
B13A_66
B13A_10
B13A_67
B13A_11
B13A_68
B13A_12
B13A_69
B13A_13
B13A_70
B13A_14
B13A_71
B13A_15
B13A_72
B13A_16

**Year Changed for Production of Wheat **

In [0]:
for col in [s for s in df.columns if s.startswith('B13B_')]:
    print(col)
    new_col='B13B_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B13B_63
B13B_7
B13B_64
B13B_8
B13B_65
B13B_9
B13B_66
B13B_10
B13B_67
B13B_11
B13B_68
B13B_12
B13B_69
B13B_13
B13B_70
B13B_14
B13B_71
B13B_15
B13B_72
B13B_16

**Year changed for sold wheat **

In [0]:
for col in [s for s in df.columns if s.startswith('B13C_')]:
    print(col)
    new_col='B13C_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B13C_63
B13C_7
B13C_64
B13C_8
B13C_65
B13C_9
B13C_66
B13C_10
B13C_67
B13C_11
B13C_68
B13C_12
B13C_69
B13C_13
B13C_70
B13C_14
B13C_71
B13C_15
B13C_72
B13C_16

**Buckwheat planting year changed **

In [0]:
for col in [s for s in df.columns if s.startswith('B17_1_')]:
    print(col)
    new_col='B17_1_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B17_1_63
B17_1_7
B17_1_64
B17_1_8
B17_1_65
B17_1_9
B17_1_66
B17_1_10
B17_1_67
B17_1_11
B17_1_68
B17_1_12
B17_1_69
B17_1_13
B17_1_70
B17_1_14
B17_1_71
B17_1_15
B17_1_72
B17_1_16

**Year for Buckwheat Planting changed from Nepali Calendar to A.D. calendar **

In [0]:
for col in [s for s in df.columns if s.startswith('B17_1A_')]:
    print(col)
    new_col='B17_1A_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B17_1A_63
B17_1A_7
B17_1A_64
B17_1A_8
B17_1A_65
B17_1A_9
B17_1A_66
B17_1A_10
B17_1A_67
B17_1A_11
B17_1A_68
B17_1A_12
B17_1A_69
B17_1A_13
B17_1A_70
B17_1A_14
B17_1A_71
B17_1A_15
B17_1A_72
B17_1A_16

In [0]:
for col in [s for s in df.columns if s.startswith('B17_1B_')]:
    print(col)
    new_col='B17_1B_'+str(int(col[-2:])-56)
    print(new_col)
    df.rename(columns={col:new_col}, inplace=True)
    pass

B17_1B_63
B17_1B_7
B17_1B_64
B17_1B_8
B17_1B_65
B17_1B_9
B17_1B_66
B17_1B_10
B17_1B_67
B17_1B_11
B17_1B_68
B17_1B_12
B17_1B_69
B17_1B_13
B17_1B_70
B17_1B_14
B17_1B_71
B17_1B_15
B17_1B_72
B17_1B_16

**We wanted to see the sum of all the values from household to community level, so we summed the vaues in every column that was applicable. **

In [0]:
import numpy as np
df_sum(df, 'sum', )
df_sum = df.sum(axis = 1, skipna=True, level=None)
print(list(df_sum))

[3861626.1000037193, 1205901.5, 1224834.0, 1756454.3000001907, 886846.0, 778718.5, 788268.0, 740633.5, 750801.0, 3728052.5, 722883.0, 723120.0, 737438.0, 732442.0, 732129.0, 722767.0, 725381.5, 1032703.0, 991082.0, 722364.0, 722691.0, 789955.150000006, 724986.0, 733027.5, 1102445.0, 723227.0, 724675.0, 831150.0, 724158.0, 2233610.0, 1045297.0, 4625415.5, 923225.8999999166, 738907.0, 723797.0, 724409.0, 723702.0, 722654.0, 774409.0, 722603.0, 1205767.0, 722474.0, 722841.0, 938359.0, 722555.0, 722042.0, 5186962.0, 1904368.0, 724792.0, 722434.0, 722258.0, 722492.0, 723591.0, 722323.0, 722303.0, 722252.0, 755287.0, 722275.0, 722094.0, 1670653.0, 7205991.5, 2525759.850001812, 1748195.0, 888900.0, 728942.0, 1506769.0, 1103511.0, 888246.0, 2482954.0, 1366318.0, 2562251.0, 859534.0, 2821037.0, 1909549.0, 1491099.5, 1002695.0, 2023635.5, 842742.0, 4208083.0, 751772.0, 724078.0, 916032.5, 1232409.0, 2863451.5, 1649220.0, 2397803.5, 955419.0, 1899183.5, 1515877.0, 820276.0, 3302068.0, 1305900.0, 2062149.0, 792746.0, 1829926.5, 1763885.0, 722389.0, 1122260.0, 1343034.0, 3212761.5000000075, 1506037.0, 1720145.0, 3049154.0, 1600911.0, 1313180.5, 767997.0, 726328.0, 726507.0, 807836.25, 919608.0, 1955203.0, 876091.0, 728829.0, 724472.0, 737709.0, 1148354.8999999166, 936017.0, 722713.0, 722830.0, 3808866.0, 737101.0, 1048344.0, 1045441.0, 722446.0, 723491.0, 724243.0, 722545.0, 722317.0, 722530.0, 863488.0, 1145565.0, 730581.0, 723651.0, 722562.0, 2625698.0, 744056.0, 1978446.0, 845254.0, 1474925.0, 857822.0, 746941.0, 2582988.5, 3771844.0, 1444863.0, 4545457.0, 2821842.0, 1562399.0, 2627793.0, 1504114.0, 724639.0, 740874.5, 2518060.0, 853178.0, 722738.0, 2522468.0, 739644.0, 740773.0, 2182904.0, 745728.0, 4515233.0, 883266.5, 727873.0, 1922314.0, 786560.0, 2386950.0, 3482865.0, 723056.0, 823894.0, 722598.0, 806254.5, 1054816.5, 901467.0, 739203.0, 727447.0, 3373262.0, 723183.0, 732354.0, 736645.0, 724467.5, 722896.0, 1473097.0, 727954.0, 739091.0, 2014158.0, 759185.0, 1700418.5, 743245.0, 722830.0, 1651690.0, 741149.0, 725736.0, 3285236.0, 724502.0, 4344418.0, 2231426.0, 762661.3500003815, 1159406.0, 955673.200000003, 4235157.0, 883163.5, 999691.0, 1422581.0, 1230287.0, 2399479.0, 756702.0, 877673.0, 11088010.699999988, 3091112.0, 1585123.0, 1756999.0, 883970.0, 1635851.0, 2388844.0, 1298439.0, 1937026.0, 939008.0, 2082948.0, 762649.0, 735312.0, 2115782.5, 795284.0, 1238769.0000008345, 728119.0, 794838.0, 1088565.0, 723976.0, 1175349.0, 1595262.0, 758037.0, 2036383.0, 729705.0, 5646980.0, 741960.0000038147, 4834001.5, 2635594.0, 728438.0, 722740.0, 1242487.0, 1832309.0, 2242583.0, 860882.0, 935019.6999969482, 1988417.0, 1031232.0, 2075440.0, 1273434.0, 818150.0, 4525098.0, 903878.0, 2643880.0, 2430388.0, 722556.0, 999808.6999999881, 722857.0, 1224882.0, 960556.5, 1491751.0, 893020.0, 1811264.0, 2785683.0, 1025684.0, 4079443.0, 1208882.0, 1260506.0, 1108760.0, 1984401.0, 1505782.5, 857090.0, 1203542.0, 922482.0, 1091445.0, 727783.5, 2026571.0, 7302903.0, 3426075.0, 2743105.0, 731630.1000022888, 1037789.0, 746865.0, 841719.0, 1120952.0, 1031807.2000007629, 887558.0, 928719.5, 752735.5, 1736771.0, 2622959.0, 1076810.0, 1939292.0, 2572354.0, 872701.0, 1011822.0, 876105.5, 770488.0, 1402234.0, 723608.0, 1022441.0, 2322291.0, 7084359.0, 974842.0, 734436.0, 750597.5, 7760946.0, 756264.8000001907, 1144770.0, 5532480.0, 727687.0, 1708532.0, 743152.0, 1588610.0, 767235.0, 1144171.0, 1175376.5, 1331179.0, 3189077.25, 865463.0, 729621.5, 925427.0, 1455637.5, 738210.0, 992935.5, 1122857.0, 1087319.0, 1213063.0, 755727.0, 1994688.5, 1000415.0, 1862596.0, 1372564.0, 1829329.0, 1629539.0, 1533335.0, 898384.0, 4482423.0, 3273834.0, 790849.0, 7206508.0, 2551975.5, 1348277.0, 768338.0, 723103.0, 1002407.5, 4828714.5, 1650145.0, 2060662.0, 1181509.0, 832732.0, 1302765.0, 1022867.0, 2850470.0, 814779.0, 1919216.0, 1043860.0, 772482.0, 1461682.0, 729168.5, 1013554.0, 1812175.0, 1261595.0, 2132596.0, 922617.0, 1937426.0, 723432.0, 929874.0, 722409.0, 722741.75, 731166.0, 2237973.2499985695, 2272405.0, 1236474.5, 773384.0, 3771042.3000001907, 730629.0, 1548024.0, 1476554.0, 1174368.0, 2067752.0, 1386622.0, 725729.0, 1296932.0, 729921.0, 1103600.0, 812749.0, 1035197.5, 5937752.0, 789632.0, 903156.0, 3892571.0, 914591.0, 3024543.0, 1969174.0, 1118429.0, 2201516.0, 2724837.0, 1240394.0, 865884.5, 1124124.0, 839550.0, 733776.5, 1608680.0, 1662712.5, 6627441.0, 2270179.0, 1073978.5, 797083.0, 899593.0, 1106968.0, 1322758.0, 864480.0, 722359.0, 1638989.0, 2184625.300000012, 5848198.0, 1421412.25, 2203340.0, 2399841.0, 7953075.0, 735874.5, 2337703.0, 1959634.0, 2022474.0, 1210570.5, 1209673.0, 2541326.5, 1126565.5, 1909620.0, 736747.0, 722498.0, 952351.0, 1003100.5, 841486.0, 1661528.0, 744502.0, 1600446.0, 735043.0, 1287071.0, 1232888.0, 730614.0, 2658656.0, 1423834.0, 2519764.0, 10263212.0, 1569948.0, 2802911.0, 3056868.0, 739898.0, 1960328.0, 1530563.0, 1888323.5, 824482.0, 743082.0, 756509.0, 777834.5, 722598.0, 722701.0, 724622.0, 725069.0, 802824.0, 737518.0, 922518.0, 846291.0, 1165354.5, 1147514.0, 835254.0, 1290740.0, 814709.0, 1079017.0, 1468686.0, 735934.0, 2339077.0, 2997091.0, 1985880.0, 808068.0, 1726249.0, 1251563.0, 728601.0, 740272.0, 733298.0, 4048617.75, 755824.0, 1540506.0, 1794113.0, 746025.0999984741, 737128.0, 1289613.5, 1025654.0, 758677.0, 1033778.0, 2295728.0, 1380557.0, 1131562.0, 2186504.0, 1254641.0, 724932.0, 1834530.0, 3410010.0, 722755.5, 2488287.0, 6881365.0, 1097545.5, 889890.0, 993324.0, 867667.0, 729558.0, 1289439.5, 1687793.0, 4016702.0, 3062148.0, 14192458.0, 1863949.5, 847614.0, 3883938.0, 2785179.0, 1226617.0, 1302992.0, 860107.0, 845250.0, 1726965.0, 733170.0, 3012730.0, 1116645.0, 1367703.0, 798390.0, 754284.0, 747622.0, 741631.0, 728205.0, 750399.0, 1055769.0, 755751.0, 922381.0, 1022723.0, 806085.0, 722946.0, 1453827.0, 1102989.0, 953549.0, 722492.0, 725059.0, 722680.0, 726214.0, 5117412.0, 740769.5, 1644347.0, 1700210.25, 1306821.0, 1078346.0, 860733.0, 2920725.0, 3107483.0, 1882586.5, 1697274.0, 834992.25, 722506.0, 1075972.0, 771700.0, 1041240.0, 2025973.0, 734233.5, 822772.0, 722527.0, 1477696.0, 722537.0, 722735.0, 722785.0, 722364.0, 722378.0, 1693989.0, 770709.0, 854203.5, 3003160.0000190735, 1732747.0, 761803.5, 1264681.6999998093, 921903.0, 736678.0, 1149467.0, 2481088.0, 2028422.0, 743144.0, 775539.0, 763987.0, 722726.0, 745781.0, 926585.0, 722845.0, 2066015.5, 2198298.0, 739366.8000000119, 1307521.0, 2360267.0, 801250.0, 745303.0, 723051.0, 5424861.0, 1121698.0, 5822635.0, 924527.0, 972590.0, 1078655.0, 1066490.0, 3122841.0, 903722.5, 1575759.0, 3475330.0, 1519551.0, 3026361.09999609, 1534164.0, 1384684.0, 2129992.800000012, 1141950.75, 1613639.150000006, 1264245.0, 1736444.0, 1201567.0, 4332982.0, 1132115.0, 1764413.5, 1026055.5, 1229320.5, 10668358.0, 1092490.0, 1913459.0, 739933.0, 1040278.5, 1600779.0, 2418872.0, 3505223.0, 2774148.5, 1029457.0, 754449.1999988556, 990084.0, 874806.0, 723304.0, 723923.0, 879789.5, 773138.0, 6353603.0, 1519801.0, 810340.0, 2109044.0, 2587888.0, 4956081.0, 981586.5, 1511267.0, 2105624.0, 1976277.0, 2349516.0, 1058619.0, 998572.0, 2367803.0, 1014299.0, 2363298.299999237, 2354876.0, 817071.0, 2147395.0, 2233271.0, 3713900.0, 1732823.0, 903239.0, 1362962.0, 723465.0, 817221.0, 722915.0, 1212551.0, 1039616.0, 733741.5, 723168.4499998391, 736635.0, 750242.5, 882159.0, 2695534.0, 7894083.0, 847883.0, 1516731.0, 723277.0, 1142504.0, 2168466.0, 723269.0, 1845677.0, 835345.0, 907537.0, 829596.0, 1087270.75, 741656.0, 1109579.0, 727681.0, 1562929.0, 1159933.5, 1131695.0, 1257073.0, 1574873.0, 1872451.0, 722778.0, 1587494.0, 765130.0, 2853940.0, 2313938.0, 2344123.0, 3139781.0, 4982545.0, 1026776.0, 4373512.0, 746603.0, 722629.0, 729206.8000001907, 2414355.0, 1633440.0, 2022992.5, 812547.0, 1582413.0, 1632245.0, 1023534.0, 997364.0, 941122.0, 1026348.0, 3122943.000000119, 1268480.0, 724052.0, 1524627.5, 723222.0, 942855.0, 939816.0, 822333.5, 2068394.0, 6740010.0, 3493977.0, 918390.0, 1274580.0, 1860008.0, 1196482.0, 2228168.0, 1667174.0, 2209893.0, 1601092.0, 2285274.0, 861021.0, 769191.0, 893219.0, 1456005.0, 1631964.3299946785, 783005.0, 782884.0, 1094226.6499881744, 1211419.050000012, 2581548.0, 1083118.0, 958972.2999992371, 1061910.0, 790781.0, 733736.0, 802112.0, 1402901.0, 729243.0, 722269.0, 722208.0, 729051.0, 723070.0, 3652133.5, 823703.0, 2491250.0, 2770841.0, 1209289.0, 722722.0, 3367242.0, 981049.0, 6326745.0, 733328.4799957275, 3722644.0, 1782931.0, 1822450.0, 2722624.0, 2232396.0, 1452354.0, 1735416.0, 1142768.0, 732836.0, 872584.0, 1137856.0, 1553731.0, 723668.0, 722513.0, 722337.0, 722705.1000000238, 1565485.0, 732435.5, 1366163.0, 1959401.0, 3134140.0, 1351826.5, 887645.0, 766342.0, 754214.0, 966256.0, 1913354.0, 722969.0, 736385.0, 734346.0, 1927609.0, 811279.0, 1270776.0, 2676140.0, 1812393.0, 2125914.0, 1072593.0, 786651.0, 920503.0, 722948.0, 760311.0, 749390.5, 727928.0, 3438251.0, 4957218.0, 1680410.0, 2464160.0, 3439473.0, 2224565.0, 2922431.0, 1643833.0, 882687.0, 1041576.0, 1472453.0, 2536206.0, 922738.0, 4146793.0, 805815.0, 4764909.0, 725123.0, 2592966.0, 2048957.0, 972323.0, 2422225.75, 793071.0, 1472439.0, 722837.0, 722845.0, 1139787.9999996424, 730709.0, 1162660.0, 1242464.0, 2088674.0, 842559.0, 872566.0, 1342715.0, 723138.0, 1183547.0, 722703.0, 728809.0, 882455.0, 1372312.0, 1137511.0, 1222449.0, 752263.0, 722710.0, 1078197.0, 5918318.0, 2043617.0, 7464426.0, 798149.0, 2699913.0, 2803359.0, 1801617.5, 2814256.0, 3630896.0, 862286.0, 962956.0, 1885566.0, 777170.0, 887810.0, 728104.0, 735517.0, 723139.0, 751881.0, 844269.0, 749441.0, 1905484.0, 1395878.0, 919215.0, 722636.0, 1680059.0, 742113.0, 1172696.0, 2658963.0, 1725896.0, 723659.0, 3128355.0, 1883282.0, 2467147.0, 902820.0, 725094.0, 1825215.5, 1960008.0, 734303.0, 825557.0, 754750.5, 1453958.0, 831043.0, 729140.0, 722985.0, 722436.0, 722595.0, 722222.0, 724896.0, 722044.0, 1394557.0, 788454.0, 971822.0, 737588.0, 746314.5, 728986.0, 1158793.0, 1677438.0, 2575190.5, 733693.5, 815352.0, 724975.0, 818508.0, 2588170.0, 732112.0, 768895.0, 1598489.5, 1478537.0, 1281601.0, 2540202.0, 977035.0, 2825405.5, 1068071.0, 971276.0, 740339.0, 1660688.0, 754645.0, 3615769.0, 1116726.0, 817704.0, 1922794.0, 1647416.0, 2448641.0, 1201022.0, 4258012.0, 1831674.0, 3139517.5, 947715.0, 1217866.0, 3827825.0, 2573246.0, 1318682.3500000536, 797869.0, 832346.0, 1679437.4999961853, 792777.0, 3300312.5, 2094178.0, 733794.0, 756273.0, 772604.0, 737532.0, 3106985.0, 1301628.5999948978, 809099.5, 870088.5, 789911.0, 1438024.0, 1021414.6999998093, 1803021.0, 1324785.8000001907, 724932.25, 1679406.0, 1075036.0, 2400992.0, 726005.0, 722527.0, 730579.0, 1455872.0, 972720.0, 722649.0, 722672.0, 2342790.0, 725657.0, 6173288.0, 2220122.5, 1952984.4000003338, 1391585.0, 2602299.0, 1567217.0, 4033813.400000006, 3115891.0, 1008178.0, 1031174.4000062943, 2184623.5, 755103.0, 763795.0, 7567291.799999952, 1933088.0000001192, 3313799.0, 735521.0, 1125072.0, 1075031.0, 1459984.8000030518, 723373.0, 1023273.0, 1296692.0, 1182675.0, 723217.0, 777922.0, 917564.5, 1714161.0, 757383.0, 723961.0, 912973.0, 4482358.0, 1543580.0, 723033.0, 722836.0, 866303.0, 1440914.0, 1230651.0, 749164.0, 805357.0, 723042.0, 765464.0, 2388479.0, 1631655.5, 1041483.0, 4487149.0, 724945.75, 1848555.0, 772598.0, 1212375.0, 723987.0, 722683.0, 2520515.0, 1032856.0, 722570.0, 739990.0, 816832.0, 1767735.0, 3604107.0, 1145341.75, 1904011.5, 1232727.5, 2450293.7999982834, 908021.0, 1922856.0, 1822637.0, 1094114.0, 722356.0, 5703282.0, 754721.0, 722589.0, 1322393.0, 1617935.25, 728392.0, 1722576.0, 1087572.0, 1922603.0, 761563.0, 2069433.0, 722358.0, 894093.0, 722524.0, 723034.0, 722739.0, 722838.0, 828912.0, 722675.0, 722545.0, 927519.0, 6704394.0, 1457811.0, 735472.5, 1363536.0, 1438464.0, 770660.0, 5442836.0, 4260466.0, 1108368.0, 13269758.0, 6657322.0, 1485130.0, 802936.0, 730214.0, 753223.0, 2542354.0, 725131.0, 1772058.0, 730974.0, 758839.0, 727952.0, 843194.0, 722360.0, 744575.0, 854398.0, 722605.0, 730465.0, 1365984.0, 793377.0, 722613.0, 727461.0, 838828.0, 1734256.0, 1506932.0, 958166.5, 1882694.5, 722681.0, 972683.0, 722738.0, 1002658.0, 1002946.0, 1222827.0, 723369.5, 1823476.0, 775470.0, 722560.0, 1127613.0, 1012136.0, 724671.0, 729130.0, 1531360.0, 1824160.0, 1312473.0, 818029.3500000536, 1424350.0, 722812.0, 1192749.0, 1227537.0, 2557446.200000003, 4282856.0, 872356.25, 722552.0, 972445.0, 722364.0, 1422463.0, 722536.0, 731478.0, 732307.0, 855321.0, 873095.0, 2663769.5, 2122964.0, 1238351.0, 4549114.0, 1144140.0, 917543.0, 774366.0, 2304439.0, 728241.5, 858878.0, 776050.0, 723578.0, 2135914.0, 859640.0, 1419626.0, 804602.0, 1685973.0, 1381568.0, 779360.0, 1196283.0, 923025.0, 903025.0, 735919.0, 1449993.0, 846045.2999999523, 741087.0, 735609.0, 736412.0, 2824328.0, 3744787.0, 5128813.0, 1177111.0, 855000.0, 734299.0, 763488.0, 742784.0, 1552561.5, 1218734.0, 1395724.0, 2939164.0, 940582.0, 2240994.0, 1067914.0, 1010983.0, 1070052.0, 1356637.0, 975789.0, 3128853.0, 984270.0, 1070993.0, 936194.0, 724725.0, 722732.0, 722753.0, 1762281.0, 789345.0, 856207.0, 891816.5, 3176922.0, 1081921.5, 753597.0, 3128635.0, 958542.0, 728019.0, 4413719.0, 1654162.0, 1373111.0, 927313.0, 722872.0, 846947.0, 1087458.0, 17660029.0, 4780986.399999738, 7302344.0, 21655724.5, 917327.0, 2050831.0, 977949.3000020981, 939419.0, 1461471.0, 892416.0499925615, 2802967.5, 3494085.0, 748153.5, 1396134.5, 5583750.0, 1347415.0, 3848088.0, 2434464.0, 724607.5, 726987.0, 1668815.0, 923607.0, 723299.0, 722983.0, 991204.5500000007, 1416574.5, 2108831.5, 2437497.75, 826854.5, 865999.5, 1101120.0, 4016017.649986267, 742315.5, 1310092.0, 1559749.7000083923, 1386905.0, 2561495.0, 1418539.0, 739629.0, 737990.5, 1986018.0, 737366.0, 1466693.0, 1453824.0, 1241838.5, 979335.5, 858575.0, 740699.6999969482, 733332.0, 1781261.0, 723004.0, 5164437.049999237, 1029160.0, 756497.0, 1196067.0, 759603.5, 1968521.25, 727744.0, 723136.5, 1323066.0, 922630.0, 742498.0, 2424001.0, 5280682.0, 926098.0, 1524664.0, 724368.0, 2022724.0, 2643966.0, 1237962.0, 1380546.0, 3059319.0, 773274.0, 2229863.0, 726051.0, 2752921.0, 748338.0, 988771.0, 1028910.0, 1061832.5, 772548.0, 1199762.5, 824754.0, 1016255.0, 1530985.0, 11099991.0, 2202199.0, 11589387.0, 2739097.0, 2179470.0, 2171806.0, 731769.0, 747600.0, 2713447.0, 1328767.0, 1376185.0, 773249.0, 855307.0, 1354535.0, 2540143.0, 7171113.0, 1049458.0, 2390063.0, 2490538.0, 1096614.0, 745443.0, 3654230.5, 1001736.0, 1563263.0, 1727216.0, 733386.0, 5425703.0, 1450246.0, 3058073.5, 2347660.0, 1050797.5, 750421.0, 2330917.0, 770432.0, 2947351.0, 3715268.5, 2447256.0, 734225.0, 747308.0, 733010.0, 879187.0, 1260688.0, 902751.0, 3187008.0, 753981.0, 1162414.0, 1372444.0, 762645.0, 2063496.0, 859584.5, 3227524.0, 777035.0, 1069954.0, 768022.0, 747694.0, 747896.0, 1179808.0, 1249437.0, 779626.0, 2261381.0, 832062.8999996185, 742370.0, 755603.0100002289, 2081534.0, 2008155.5, 863146.0, 1195202.0, 724422.0, 722858.0, 1821796.0, 722714.0, 2231053.0, 922443.0, 1362614.0, 722702.0, 3016195.0, 7632972.0, 1632563.0, 1627685.5, 1746092.0, 820389.25, 1423828.0, 765914.0, 1515399.0, 750790.0, 2322747.0, 1381527.0, 726991.0, 757441.150000006, 1232208.0, 731113.0, 1506410.0, 795234.0, 1278460.0, 726064.0, 723099.0, 809956.0, 723138.0, 876999.0, 787045.0, 919340.0, 1692545.0, 817403.0, 1417141.0, 810774.0, 981941.0, 989548.0, 1097993.0, 1094548.0, 1540470.5, 1232051.0, 1048090.0, 823996.5, 1151938.0, 1244036.0, 1335413.0, 840439.0, 738281.0, 740103.0, 1068698.0, 972775.0, 834473.0, 1255775.0, 1737989.5, 1481656.0, 1614309.0, 1455900.0, 1261116.0, 1040590.0, 725620.0, 966832.0, 724328.0, 1047604.0, 723006.0, 722947.0, 722384.0, 722385.0, 722580.0, 738618.0, 886123.0, 738481.0, 727006.0, 727620.649999857, 944898.0, 1862998.0, 764846.0, 1050415.0, 1327449.0, 1524055.0, 782431.0, 747303.0, 892405.0, 3920320.0, 2231298.5, 1073471.0, 741167.0, 733231.1999998093, 777896.0, 795097.0, 791693.5, 3156909.0, 5705444.0, 733439.0, 1004303.0, 725512.0, 2416228.0, 9370165.5, 807265.0, 723256.0, 788259.0, 800386.0, 3430383.0, 724182.0, 758012.0, 1463093.0, 1545194.5, 724728.0, 771565.0, 737911.0, 756662.0, 733277.0, 750158.0, 1508857.0, 723828.0, 1045088.0, 745326.0, 811287.0, 3193257.5, 726939.0, 1635257.0, 723898.0, 724600.0, 737595.0, 1277055.0, 732692.0, 723730.0, 722716.5, 1477094.0, 1503079.2999997884, 1477014.0, 722830.0, 723027.0, 725704.0, 3376772.0, 747869.0, 757408.0, 748729.0, 778898.0, 854495.0, 749613.0, 898132.0, 778987.6000013351, 2122106.0, 2873654.0, 736246.0, 954629.0, 725575.0, 3528570.0, 912116.0, 1267511.0, 1128013.0, 862742.0, 2623571.0, 722756.0, 1635608.0, 7231741.0, 4518158.0, 758372.0, 811781.0, 1800996.0, 1719732.0, 1236187.0, 2886174.0, 722347.0, 725625.0, 731701.0, 981577.3999986649, 727638.0, 873559.0, 942420.5, 1022162.0, 773744.0, 1314125.0, 1557532.0, 942941.0, 880303.0, 723437.0, 3873654.5, 1614263.0, 3430437.0, 5852375.0, 2062759.0, 5028977.0, 1184284.8000011444, 3382785.0, 3622532.0, 729609.5599975586, 2757548.0, 723891.0, 1232783.0, 723272.8999996185, 1302833.0, 722395.0, 2422375.0, 1072410.0, 722472.0, 757260.0, 1402371.0, 722999.0, 1922342.0, 722666.0, 912453.0, 2122411.0, 722783.0, 734329.0, 989963.0, 722971.0, 723217.0, 965945.0, 722790.0, 774907.0, 922707.0, 1732600.0, 1041563.0, 1185158.0, 878546.0, 1381247.0, 730768.0, 2888945.0, 2788291.0, 735826.0, 1375372.0, 723280.0, 744021.0, 1649895.0, 836146.0, 2008743.200000003, 722250.0, 724163.0, 1193236.0, 1002951.0, 2274768.0, 927047.0, 1869682.0, 1343722.0, 749170.0, 5424112.5, 1795137.0, 1316224.0, 1001052.0, 782635.0, 1023483.0, 738011.0, 3067372.0, 877724.0, 2787667.0, 1999703.0, 4997946.0, 877939.0, 1396109.0, 743778.0, 1591697.0, 770438.0, 2137402.200000003, 1242041.0, 1329601.0, 2630236.0, 722966.0, 725440.0, 870695.0, 724282.0, 724006.0, 762884.0, 860921.0, 2279078.099996567, 1906238.0, 7924323.0, 722780.0, 831389.0, 725371.0, 725065.0, 734181.0, 722641.0, 2394586.0, 2136109.0, 723977.5, 745744.0000033379, 1312883.0, 2924840.0, 1745749.0, 1454944.0, 730518.0, 722514.0, 2724974.0, 3918264.0, 1111474.0, 757055.0, 3647773.0, 785342.0, 1743455.0, 1023884.700000003, 733972.0, 902651.0, 1290679.0, 3637326.0, 1192578.0, 792336.0, 3535769.0, 2300067.5, 7562777.400000215, 2950977.7999999523, 743889.0, 743391.0, 1684132.5, 799741.7000012398, 2215266.0, 1167932.0, 859050.0, 1434569.0, 2179660.0, 1661547.0, 2082893.5, 918281.0, 1236278.0, 1660787.0, 1674380.0, 750925.0, 1244212.0, 749432.0, 1573620.75, 3804252.5, 4680128.0, 4195273.0, 1606030.1999999285, 808865.25, 1702680.5, 722561.0, 930899.0, 1199676.0, 2842200.0, 1407895.0, 747899.0, 832406.0, 934816.0, 1502728.0, 1144097.0, 723553.0, 1233514.0, 760720.0, 732953.0, 3845576.0, 1273875.0, 790939.0, 862539.0, 1561070.0, 2307269.0, 769621.0, 1363067.0, 1141768.0, 727700.2000026703, 730915.0, 1535664.5, 742928.0, 745201.0, 722635.0, 731710.0, 1287619.0, 1637059.0, 3538146.0, 763118.0, 1138772.0, 1006299.0, 2060546.0, 949206.0, 1318070.0, 722308.0, 722453.0, 723999.0, 812848.0, 863942.2999992371, 3231039.0, 801417.0, 1483247.0, 1582380.0, 1861719.0, 723685.0, 855451.0, 763658.0, 889940.0, 1080831.0, 2902264.0, 2934437.0, 4433628.0, 722314.0, 765817.0, 739526.0, 730810.0, 831781.0, 787594.0, 1638593.0, 722710.0, 919840.0, 2615831.0, 730619.0, 722518.0, 870115.25, 939989.0, 786423.5, 736095.0100002289, 1005661.0, 894372.0, 3972466.0, 918165.0, 1337513.0, 1162760.0, 734100.0, 731031.0, 852914.0, 953744.0, 782499.0, 2452834.0, 2394509.550004959, 6758539.249989033, 1774813.5, 3198781.0, 905268.5, 2403016.0, 738004.0, 882807.0, 722572.0, 3122513.0, 722677.0, 2222239.0, 773193.0, 722933.0, 764951.0, 793929.0, 743741.0, 1312216.5, 1898961.0, 816345.0, 1100182.0, 725604.0, 796356.0, 891733.0, 1243642.0, 1302281.0, 724858.0, 838476.0, 1578709.0, 1175665.0, 785039.0, 1324426.0, 951064.0, 836953.0500006676, 723319.0, 891823.0, 1707412.0, 723102.0, 1597252.0, 744091.0999965668, 3328962.0, 2072734.0, 5713906.0, 4675547.699993134, 1364003.0, 2698910.0, 748324.0, 2408236.0, 1317029.0, 178

In [0]:
df

,HHID,AGE1,GENDER1,AGE2,GENDER2,AGE3,GENDER3,INTNO,INTDATE,INTRVR,...,REM8,REM9,REM10,REM11,REM12,REM13,REM14,REM15,REM16,ENDTIME
0,002002,34,Female,NaN,NaN,NaN,NaN,49,720425,187,...,0,0,0,0,700000,700000,750000,800000,175000.0,1024
1,002003,35,Female,NaN,NaN,NaN,NaN,48,720425,187,...,0,150000,200000,0,0,0,0,0,100000.0,927
2,002004,60,Male,NaN,NaN,NaN,NaN,34,720425,221,...,0,60000,60000,170000,70000,50000,50000,25000,0.0,939
3,002005,35,Male,35.0,Female,NaN,NaN,34,720421,165,...,0,0,380000,0,0,300000,100000,250000,0.0,939
4,002006,65,Male,NaN,NaN,NaN,NaN,22,720420,116,...,0,0,0,0,0,0,150000,0,8000.0,1140
5,002009,60,Male,NaN,NaN,NaN,NaN,20,720420,116,...,0,0,0,0,0,0,0,0,0.0,955
6,002011,40,Female,45.0,Male,NaN,NaN,52,720426,187,...,0,0,0,0,0,0,0,0,0.0,1155
7,002012,60,Male,NaN,NaN,NaN,NaN,21,720420,116,...,0,0,0,0,0,0,0,0,0.0,1044
8,002013,40,Female,NaN,NaN,NaN,NaN,41,720425,165,...,0,0,0,0,0,0,0,20000,0.0,1301
9,002016,60,Male,NaN,NaN,NaN,NaN,40,720421,187,...,0,0,400000,400000,450000,450000,500000,500000,300000.0,1003
10,002017,40,Male,NaN,NaN,NaN,NaN,39,720421,187,...,0,0,0,0,0,0,0,0,0.0,904
11,002020,39,Female,NaN,NaN,NaN,NaN,32,720425,221,...,0,0,0,0,0,0,0,0,0.0,1210
12,002026,52,Male,NaN,NaN,NaN,NaN,42,720425,165,...,0,0,0,0,0,0,0,0,0.0,1002
13,002027,36,Male,NaN,NaN,NaN,NaN,25,720421,116,...,0,0,0,0,0,0,0,0,0.0,1000
14,002033,40,Female,NaN,NaN,NaN,NaN,36,720420,187,...,0,0,0,0,0,0,0,0,0.0,907
15,002037,60,Female,NaN,NaN,NaN,NaN,38,720420,187,...,0,0,0,0,0,0,0,0,0.0,1025
16,002041,30,Female,NaN,NaN,NaN,NaN,37,720420,187,...,0,0,0,0,0,0,0,0,0.0,1000
17,002042,37,Female,NaN,NaN,NaN,NaN,31,720420,165,...,100000,0,100000,110000,0,0,0,0,0.0,1015
18,002048,26,Female,72.0,Male,NaN,NaN,36,720421,165,...,0,0,0,0,0,0,130000,0,26000.0,1105
19,002050,30,Male,NaN,NaN,NaN,NaN,32,720420,165,...,0,0,0,0,0,0,0,0,0.0,851
20,002051,31,Female,NaN,NaN,NaN,NaN,35,720421,165,...,0,0,0,0,0,0,0,0,0.0,1012
21,002052,55,Male,NaN,NaN,NaN,NaN,30,720420,165,...,0,0,0,0,0,0,0,0,0.0,1112
22,002054,30,Female,NaN,NaN,NaN,NaN,33,720420,165,...,0,0,0,0,0,0,0,0,0.0,939
23,002055,52,Male,NaN,NaN,NaN,NaN,43,720425,165,...,0,0,0,0,0,0,0,0,0.0,915
24,002056,40,Female,NaN,NaN,NaN,NaN,54,720427,187,...,0,0,0,0,0,0,120000,150000,110000.0,859
25,002057,35,Female,NaN,NaN,NaN,NaN,45,720426,165,...,0,0,0,0,0,0,0,0,0.0,1217
26,002058,35,Female,NaN,NaN,NaN,NaN,50,720425,187,...,0,0,0,0,0,0,0,0,0.0,1204
27,003002,32,Female,NaN,NaN,NaN,NaN,49,720605,242,...,0,0,30000,0,0,70000,0,0,0.0,1100
28,003005,80,Male,NaN,NaN,NaN,NaN,93,720718,254,...,0,0,0,0,0,0,0,0,0.0,1125
29,003006,35,Female,NaN,NaN,NaN,NaN,52,720605,257,...,0,0,700000,0,150000,200000,150000,0,300000.0,1121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2225,169003,48,Male,47.0,Female,NaN,NaN,15,720521,262,...,0,0,200000,210000,0,0,0,0,0.0,737
2226,169007,50,Female,NaN,NaN,NaN,NaN,76,720508,165,...,0,0,200000,300000,400000,300000,500000,400000,0.0,1102
2227,169008,30,Female,NaN,NaN,NaN,NaN,86,720509,180,...,0,0,300000,300000,0,0,0,0,0.0,930
2228,169009,63,Male,NaN,NaN,NaN,NaN,76,720508,160,...,0,0,0,0,0,0,0,0,0.0,803
2229,169010,50,Female,NaN,NaN,NaN,NaN,79,720509,160,...,0,0,200000,0,0,0,0,0,0.0,830
2230,169012,41,Female,22.0,Female,NaN,NaN,18,720522,262,...,0,0,0,0,0,0,0,0,0.0,713
2231,169014,39,Female,NaN,NaN,NaN,NaN,86,720508,187,...,0,0,0,0,0,0,0,0,0.0,828
2232,169015,52,Male,NaN,NaN,NaN,NaN,88,720508,187,...,0,0,0,0,0,0,0,150000,0.0,1026
2233,169016,83,Male,56.0,Male,NaN,NaN,87,720508,187,...,0,0,0,0,0,0,0,0,0.0,920
2234,169017,50,Female,NaN,NaN,NaN,NaN,85,720509,180,...,0,0,500000,500000,500000,400000,600000,600000,200000.0,845
2235,169020,36,Female,NaN,NaN,NaN,NaN,67,720515,181,...,0,0,300000,300000,500000,600000,600000,500000,100000.0,910
2236,169021,49,Male,NaN,NaN,NaN,NaN,70,720508,218,...,0,0,0,0,0,0,0,0,0.0,834
2237,169039,25,Female,NaN,NaN,NaN,NaN,72,720508,218,...,0,100000,100000,60000,360000,360000,360000,360000,105000.0,1059
2238,169048,34,Male,NaN,NaN,NaN,NaN,80,720509,160,...,0,0,0,0,0,0,0,0,0.0,910
2239,170001,62,Male,NaN,NaN,NaN,NaN,42,720422,180,...,0,10000,110000,110000,115000,110000,115000,100000,100000.0,1030
2240,170002,46,Female,NaN,NaN,NaN,NaN,31,720524,115,...,0,0,0,150000,150000,0,250000,0,0.0,1803
2241,170003,30,Male,52.0,Male,NaN,NaN,43,720422,180,...,0,0,100000,100000,0,0,0,0,0.0,1135
2242,170004,43,Male,NaN,NaN,NaN,NaN,31,720422,131,...,0,500000,500000,700000,700000,900000,900000,1000000,300000.0,952
2243,170005,79,Female,87.0,Male,NaN,NaN,5,720422,118,...,0,0,70000,0,0,0,0,0,50000.0,1028
2244,170006,61,Female,65.0,Male,NaN,NaN,6,720422,118,...,0,0,20000,25000,35000,3000000,35000,40000,12000.0,1132
2245,170008,53,Female,NaN,NaN,NaN,NaN,7,720422,118,...,0,0,0,200000,280000,300000,250000,200000,120000.0,908
2246,170010,79,Male,NaN,NaN,NaN,NaN,71,720620,110,...,0,0,0,0,0,0,0,0,0.0,928
2247,170017,36,Female,NaN,NaN,NaN,NaN,75,720807,133,...,0,0,0,0,0,0,0,0,0.0,1035
2248,170029,42,Male,NaN,NaN,NaN,NaN,68,720524,110,...,0,0,0,0,0,0,0,0,0.0,1757
2249,170049,37,Female,NaN,NaN,NaN,NaN,32,720422,218,...,0,0,0,0,0,0,0,0,0.0,1001
2250,170052,31,Female,45.0,Male,NaN,NaN,32,720524,115,...,0,0,0,0,0,0,0,0,0.0,1845
2251,170061,55,Male,45.0,Female,NaN,NaN,31,720422,218,...,0,0,0,0,0,0,0,0,0.0,829
2252,171002,38,Female,50.0,Male,NaN,NaN,37,720420,133,...,0,0,0,0,0,0,0,0,0.0,1538
2253,171003,24,Male,45.0,Female,NaN,NaN,1,720330,180,...,0,0,0,0,0,0,0,0,0.0,1125
2254,171004,32,Male,63.0,Male,NaN,NaN,1,720330,181,...,0,0,0,0,200000,200000,0,0,0.0,1024

**While Summing we asked that all the values that says household does not exist get dropped. **

**Exported the dataframe to Excel **

In [0]:
dfn = df.sum(axis=0, skipna=True)
dfn.to_excel("test.xlsx")

In [0]:
dfnt = dfn.transpose()
dfnt.to_excel("test_t.xlsx")

**This was for values that could not be summed, but was a count of yes or no. So we coded the count for each variable where a yes or no question was asked.**

In [0]:
new = pd.DataFrame()
for j in [11,13]:
  for i in range(7, 17):
    get = df["B"+str(j)+"_"+str(i)].value_counts() 
    print(get)
    #get.append(pd.Series("colname"+"B"+str(j)+"_"+str(i)))
    new = pd.concat([new, get])
    
new = pd.concat([dfn, new])
new.to_excel("test_stck1.xlsx")

Yes                         1142
Household does not exist     841
No                           272
Name: B11_7, dtype: int64
Yes                                        1153
Household does not exist                    742
No                                          263
Planting by other in rent                    59
Planting by self and some part by other      37
Name: B11_8, dtype: int64
Yes                                        1188
Household does not exist                    662
No                                          299
Planting by other in rent                    65
Planting by self and some part by other      40
Name: B11_9, dtype: int64
Yes                                        1237
Household does not exist                    565
No                                          338
Planting by other in rent                    72
Planting by self and some part by other      42
Name: B11_10, dtype: int64
Yes                                        1264
Household does not exist                    486
No                                          384
Planting by other in rent                    78
Planting by self and some part by other      42
Name: B11_11, dtype: int64
Yes                                        1287
Household does not exist                    428
No                                          408
Planting by other in rent                    85
Planting by self and some part by other      46
Name: B11_12, dtype: int64
Yes                                        1340
No                                          472
Household does not exist                    302
Planting by other in rent                    91
Planting by self and some part by other      48
Household merge                               1
Name: B11_13, dtype: int64
Yes                                        1371
No                                          503
Household does not exist                    226
Planting by other in rent                   100
Planting by self and some part by other      54
Household merge                               1
Name: B11_14, dtype: int64
Yes                                        1438
No                                          589
Planting by other in rent                   101
Household does not exist                     74
Planting by self and some part by other      52
Household merge                               1
Name: B11_15, dtype: int64
Yes                                        1431
No                                          817
Planting by self and some part by other       4
Household merge                               3
Name: B11_16, dtype: int64
No                          1072
Household does not exist     841
Yes                          342
Name: B13_7, dtype: int64
No                           1266
Household does not exist      742
Yes                           242
Planting by other in rent       4
Name: B13_8, dtype: int64
No                           1329
Household does not exist      662
Yes                           259
Planting by other in rent       4
Name: B13_9, dtype: int64
No                           1425
Household does not exist      565
Yes                           262
Planting by other in rent       2
Name: B13_10, dtype: int64
No                           1502
Household does not exist      486
Yes                           263
Planting by other in rent       3
Name: B13_11, dtype: int64
No                           1568
Household does not exist      428
Yes                           255
Planting by other in rent       3
Name: B13_12, dtype: int64
No                           1657
Household does not exist      302
Yes                           291
Planting by other in rent       3
Household merge                 1
Name: B13_13, dtype: int64
No                           1731
Yes                           294
Household does not exist      226
Planting by other in rent       3
Household merge                 1
Name: B13_14, dtype: int64
No                           1818
Yes                           357
Household does not exist       74
Planting by other in rent       5
Household merge                 1
Name: B13_15, dtype: int64
No                 2244
Yes                   8
Household merge       3
Name: B13_16, dtype: int64

**However, after doing all this I was not able to figure out how to export this dataframe into excel so we moved this project to Stata. Please check the google doc attached in this folder for further how we used Stata to complete this research question. **